@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;

}

li {
  float: left;
  font-family: 'Atkinson Hyperlegible', sans-serif;

}

li a {


}

.linkstyle{

  border-radius: 10px 10px 10px 10px;
  background-color: rgb(255, 255, 255);
}
